html, body {height: 100%}

body {
  margin:0;
  padding:0;
  width: 100%;
}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a{text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
img {-ms-interpolation-mode: bicubic;/* image scaling IE fix */ 
  max-width: 100%; height: auto; display:block;}

/*==========*/

*,*:before,*:after{-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}    

/*======== utility classes =========*/
.clear {
  clear: both; }

.hide {
  display: none; }

.clickable {
  cursor: pointer; }

.center {text-align: center;}

.left {float: left !important; }
.right {float: right !important; }
.end {margin-right: 0 !important;}
.bottom {margin-bottom: 0 !important}

.abcenter {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.vert_center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.eq_dist {text-align: justify;
&:after{ content: '';  width: 100%;  display: inline-block;}
> a,>p,>img {display: inline-block;vertical-align: middle;}
}

.table {
   display:table; 
 }

.tablecell {
display:table-cell;
vertical-align: middle;
}

//to remove color block on touch areas on touch devices
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

//to remove rounded corners on IOS
input[type=texarea],input[type=text] {
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

/* Clearfix http:/nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }