hr, .break { height: 1px; width: 100%; background: rgb(195, 195, 195); margin-bottom: 2rem; }

/*---------- margin/padding on block level elements ---------*/
h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dd, p, figure, pre, table, fieldset, hr, img { margin-bottom: 3rem; }
h1, h2, h3, h4, h5, h6, p { margin: 2rem 0; }
h1, h2, h3, h4, h5, h6 { margin-top: 4rem; }
hr { background: #cccccc; height: 1px; border: none; display: block; }


/*-----------inputs-------------*/
textarea, input,input[type="text"] {border: 1px solid $color1; padding: 1rem; }
label[type=text] { display: block; }