//Grid System

$gutter: 2.2rem;
[class*='bit_'] { float: left; padding: $gutter; }

/* Floats last ".bit_" to the right */
/* [class*='bit_']:last-of-type { padding-right: $gutter; float: right; }
 */.row { margin-left: -$gutter; margin-right: -$gutter; /* width fix */ }

/* Clearfix */
.row:after { content: ""; display: table; clear: both; }
.bit_100 { width: 100% }
.bit_75 { width: 75% }
.bit_66 { width: 66% }
.bit_60 { width: 60% }
.bit_50 { width: 50% }
.bit_40 { width: 40% }
.bit_33 { width: 33% }
.bit_25 { width: 25% }
.bit_20 { width: 20% }
@media only screen and (max-width:800px) {
		// 60, 50, 40 and 33 get thier widths
		.bit_100 { width: 100% }
		.bit_75 { width: 100% }
		.bit_66 { width: 66% }
		.bit_60 { width: 60% }
		.bit_50 { width: 50% }
		.bit_40 { width: 40% }
		.bit_33 { width: 33% }
		.bit_25 { width: 50% }
		.bit_20 { width: 100% }
}
@media only screen and (max-width:600px) {
		// 20, 25, 75 get their widths
		.bit_100 { width: 100% }
		.bit_75 { width: 100% }
		.bit_66 { width: 100% }
		.bit_60 { width: 100% }
		.bit_50 { width: 100% }
		.bit_40 { width: 100% }
		.bit_33 { width: 100% }
		.bit_25 { width: 100% }
		.bit_20 { width: 100% }
}
// .bit_100 { width: 100% }
// .bit_75 { width: 100% }
// .bit_60 { width: 100% }
// .bit_50 { width: 100% }
// .bit_40 { width: 100% }
// .bit_33 { width: 100% }
// .bit_25 { width: 100% }
// .bit_20 { width: 100% }
// @media only screen and (min-width:600px) {
		// // 60, 50, 40 and 33 get thier widths
		// .bit_100 { width: 100% }
		// .bit_75 { width: 100% }
		// .bit_60 { width: 60% }
		// .bit_50 { width: 50% }
		// .bit_40 { width: 40% }
		// .bit_33 { width: 33% }
		// .bit_25 { width: 25% }
		// .bit_20 { width: 100% }
// }
// @media only screen and (min-width:700px) {
		// // 20, 25, 75 get their widths
		// .bit_100 { width: 100% }
		// .bit_75 { width: 75% }
		// .bit_60 { width: 60% }
		// .bit_50 { width: 50% }
		// .bit_40 { width: 40% }
		// .bit_33 { width: 33% }
		// .bit_25 { width: 25% }
		// .bit_20 { width: 20% }
// }