/*======== utility classes =========*/
/* Clearfix http:/nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.clear { clear: both; }

.abcenter { overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.vert_center { position: absolute; top: 50%; transform: translateY(-50%); }
.eq_dist { text-align: justify;
		&:after { content: ''; width: 100%; display: inline-block; }
		> a, >p, >img { display: inline-block; vertical-align: middle; }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe,.videoWrapper object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*ul*/.inline_list {list-style:none;margin-top: 0;margin-left: 0; padding-left: 0;
 li { display: inline-block; 
	ul {}
}
}